<div class="container mt-5">
  <% if @villas.present? %>
    <h2 class="mb-4"><%= I18n.t('villas.search_results.title') %></h2>

    <div class="mb-4">
      <%= link_to 'Sort by Price', search_results_villas_path(start_date: params[:start_date], end_date: params[:end_date], sort_by: 'price'), class: 'btn btn-secondary' %>
      <%= link_to 'Sort by Availability', search_results_villas_path(start_date: params[:start_date], end_date: params[:end_date], sort_by: 'availability'), class: 'btn btn-secondary' %>
      <%= link_to 'Edit dates', root_path, class: 'btn btn-primary' %>
    </div>

    <div class="row">
      <% @villas.each do |villa| %>
        <div class="col-sm-6">
          <div class="card mb-3">
          <%= image_tag villa[:images].first, class: "card-img-top" %>
            <div class="card-body">
              <h5 class="mb-1"><%= villa[:name] %></h5>
              <p class="mb-1"><%= I18n.t('villas.search_results.price_rate') %>: ₹<%=  number_with_delimiter(villa[:average_price_per_night]) %></p>
              <strong class="<%= villa[:availability] ? 'available' : 'sold-out' %>">
                <%=I18n.t('availability')%> <%= villa[:availability] ? 'Available' : 'Sold Out' %>
              </strong>
              <p>
                <%= link_to 'Show', show_results_villa_path(villa[:id], start_date: params[:start_date], end_date: params[:end_date]), class: 'btn btn-primary' %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p><%= I18n.t('villas.search_results.not_found')%></p>
  <% end %>
</div>
