<body class="px-5 py-5" style="background-image: url('<%= url_for(@villa.images.first)  %>'); background-size: cover; background-position: center; background-repeat: no-repeat;">
  <div class="container mt-5">
    <h1 class="my-5 text-white text-xl-left display-1"><%= @villa.name %></h1>
    <div class="row">
      <div class="col-sm-6">
        <div class="card mx-2">
          <div class="card-body">
            <%= form_with url: show_results_villa_path(@villa), method: :get, local: true do %>
              <div class="form-group">
                <p>
                  <label for="start_date"><%= I18n.t('start_date') %></label>
                  <%= date_field_tag :start_date, @start_date, class: 'form-control', required: true %>
                </p>
              </div>
              <div class="form-group">
                <p>
                  <label for="end_date"><%= I18n.t('end_date') %></label>
                  <%= date_field_tag :end_date, @end_date, class: 'form-control', required: true %>
                </p>
              </div>
              <%= submit_tag 'Check Availability', class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mx-2">
          <div class="card-body">
            <% if @start_date.present? && @end_date.present? %>
              <h3 class="mt-2"><%= I18n.t('villas.show_results.rate_title') %></h3>
              <p class="card-text"><strong><%= I18n.t('villas.show_results.stay') %>:</strong> <%= @start_date %> to <%= @end_date %></p>
              <% if @availability %>
                <p class="card-text"><strong><%= I18n.t('villas.show_results.price_gst') %>:</strong> ₹<%=number_with_delimiter(@total_price) %></p>
              <% else %>
                <p class="text-danger card-text"><%= I18n.t('villas.show_results.unavailable') %></p>
              <% end %>
            <% else %>
                <p class="card-text"><%= I18n.t('villas.show_results.date_error') %></p>
            <% end %>
            <%= link_to "Back to total villas", root_path, class: 'btn btn-secondary mt-4' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


