<div id="<%= dom_id calendar_entry %>">
  <p>
    <strong>Villa:</strong>
    <%= calendar_entry.villa_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= calendar_entry.date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= calendar_entry.price %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= calendar_entry.available %>
  </p>

</div>
